@media ( max-width: 1400px)
    .promo__social
        display: none

@media ( max-width: 1200px)
    .container
        max-width: 960px
    .about
        &__block
            grid-template-columns: 400px 520px
            gap: 35px
        &__items
            margin-top: 10px
    .fill
        &__wrapper
            padding-bottom: 70px

    .skill
        &__wrapper
            grid-template-columns: repeat(auto-fill, minmax(272px, 1fr))

    .works
        &__wrapper
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
        #work4
            grid-row: unset
            grid-column: unset
        #work6
            grid-column: unset

    .contacts
        &__wrapper
            grid-template-columns: 400px 500px
            column-gap: 20px

@media ( max-width: 992px)
    .container
        max-width: 720px

    .promo
        background-position: 0% -617%

    .about
        &__block
            grid-template-columns: 300px 380px
            gap: 35px
        &__divider
            margin-top: 20px
        &__items
            grid-template: repeat(2, minmax(80px, auto)) / 380px

    .promo
        &__title
            max-width: 450px

    .process
        &__wrapper
            padding: 60px 0 0 0
            column-gap: 83px
    .price
        &__wrapper
            margin-top: 40px
            padding: 0 15px
            grid-template: repeat(3, minmax(44px, auto))/repeat(2, 320px)

    .contacts
        padding: 60px 0 90px 0
        &__wrapper
            grid-template-columns: 300px 400px

        &__left
            grid-row: 1/3
            img
                width: 100%
                height: 100%
                object-fit: cover

    .form
        grid-template: 45px 190px 66px/repeat(2, 1fr)

@media ( max-width: 768px)
    .container
        max-width: 540px

    .promo
        &__title
            max-width: 450px
            font-size: 42px
            line-height: 53px

    .about
        padding-top: 40px
        &__block
            grid-template: 400px auto / 1fr
            gap: 35px
        &__right
            grid-row: unset

        &__items
            grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 1fr)
            column-gap: 50px
            row-gap: 20px

    .process
        padding-top: 0
        &__wrapper
            grid-template-columns: 1fr

    .fill
        padding-top: 0
        &__wrapper
            grid-template-columns: repeat(auto-fit, 250px)
            grid-template-columns: repeat(auto-fit, 250px)
            grid-auto-rows: minmax(250px, auto)
        &__card
            padding: 19px 14px 16px 22px

    .skill
        &__wrapper
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr))

    .works
        padding-top: 0
        margin-top: 40px
        &__wrapper
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))

    .price
        &__wrapper
            padding: 0 30px
            grid-template: repeat(3, minmax(44px, auto)) / 1fr

    .contacts
        padding-top: 0
        &__left
            display: none
        &__wrapper
            grid-template-columns: 1fr

@media ( max-width: 576px)
    .container
        width: 100%
        padding: 0 10px

    .subtitle_fz16
        font-size: 16px
    .title_fz36
        font-size: 24px

    .hamburger
        right: 20px

    .promo
        height: 640px

        &__title
            max-width: 475px
            font-size: 33px
            line-height: 39px

        &__btns
            margin-top: 30px

    .menu
        &__block
            width: 250px
            padding-left: 20px
        &__item
            font-size: 20px

    .about
        &__divider
            margin-top: 12px
        &__items
            grid-template-columns: 1fr

    .process
        &__wrapper
            padding-top: 40px
            row-gap: 40px

    .fill
        &__wrapper
            padding-top: 20px
            grid-template-columns: repeat(auto-fit, 270px)

    .skill
        &__wrapper
            place-content: center center
        &__indicator
            width: 100%

    .price
        &__wrapper
            margin-top: 20px
            row-gap: 30px

    .contacts
        padding: 0 20px 90px 20px

    .form
        &__triggers
            justify-content: center
            grid-template-columns: 220px
            grid-template-rows: repeat(2, 45px)
            row-gap: 20px
        &__btn
            text-transform: none
            font-size: 12px

        &__policy
            line-height: 10px
            text-align: center
